/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
.clear-fix:after {
    content: "";
    clear: both;
    display: table;
}

/* SIDE MENU */
#sidemenu {
    background-color: rgb(166, 255, 251);
    width: 15%;
    height: calc(100vh - 100px);
    float: left;
}

/* MAIN */
main {
    background-color: lightgreen;
    width: 85%;
    height: calc(100vh - 100px);
    float: right;
}

/* FOOTER */
footer {
    background-color: bisque;
    height: 100px;
}