/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* COMMON */
.pl-20px {
    padding-left: 20px;
}
.mb-15 {
    margin-bottom: 1.5rem;
}

.mt-15 {
    margin-top: 1.5rem;
}

.flex-wrap {
    display: flex;
    flex-direction: row;
}

.clear-fix:after {
    content: "";
    clear: both;
    display: table;
}

.bold {
    font-weight: bold;
}

.subtitle {
    font-size: .6rem;
    color: #a3a3a3;
}

.white {
    color: white;
}

.gray {
    color: #a3a3a3;
}

.container-content {
    width: 100%;
    height: calc(100vh - 100px);
}

/* SIDE MENU */
#side-menu {
    color: #a3a3a3;
    background-color: rgb(0, 0, 0);
    width: 220px;
    height: 100%;
    float: left;
    padding-right: 20px;
    overflow: hidden;

}

.side-top {
    width: 100%;
    height: calc(100% - 70px);
    overflow: hidden;
    min-height: 400px;
}

#logo {
    width: 70%;
    margin: 20px 0;
}

#logo-small {
    width: 30px;
    display: none;
}

/* Side list */

.side-menu-list li:first-of-type {
    border-left: 2px solid greenyellow;
}

.side-menu-list li {
    margin-bottom: 1rem;
    padding-left: 20px;
    border-left: 2px solid transparent;

}

.side-menu-list li img {
    width: 30px;    
    vertical-align: middle;
    opacity: .8;
}

.side-top h4 {
    margin-bottom: .7rem;
}

#side-menu a {
    color: #a3a3a3;
}

#side-menu a i {
    font-size: 2.3rem;
    vertical-align: middle;
}

/* Side playlist */
.plus-playlist {
    overflow: hidden;
}

.plus-playlist h4{
    margin: 10px 0;
}

.plus-btn {
    width: 35px;
    height: 35px;
    background-color: #a3a3a3;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.plus-btn span {
    font-weight: bold;
    font-size: 2rem;
    color: black;
    line-height: 35px;
}


#side-menu .playlist {
    max-height: 80%;
    overflow: auto;
}

#side-menu .playlist li {
    margin: .7rem 0;
    font-size: .8rem;
}


/* Side footer */
.side-footer { 
    height: 70px;  
    width: 100%;
    overflow: hidden;
}

.side-footer #download {
    width: 15px;
    vertical-align: middle;
}

.side-footer hr {
    margin: .5rem 0;
}

.side-footer #profile {
    background-color: gray;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    vertical-align: middle;
}

.side-footer a span {
    font-size: .7rem;
}

@media screen and (max-width: 600px) {
    
    #side-menu {
        width: 50px;
        padding: 20px 10px 0 10px;
    }

    #logo-small {
        display: block;
    }

    .side-menu-list li:first-of-type {
        border-left: none;
    }

    #logo,
    #side-menu .side-menu-list span,
    .playlist,
    .plus-playlist,
    .side-footer span,
    .side-footer hr {
        display: none;
    }

    .side-footer #profile {
        margin-top: 1rem;
    }

}


/* MAIN */
main {
    background-color: #141922;
    width: calc(100% - 220px);
    height: 100%;
    float: right;
    overflow: auto;
}

@media screen and (max-width: 600px) {
    
    main {
        width: calc(100% - 50px);
    }
    
}

/* Header main */
.header-main {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    justify-content: end;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    height: 100px;
    width: calc(100% - 220px);
}

.header-main .upgrade {
    display: inline-block;
    padding: .7rem 2rem;
    border: 1px solid white;
    border-radius: 50px;
    font-size: .8rem;
    margin-right: 2rem;
}

@media screen and (max-width: 600px) {
    
    .header-main {
        width: calc(100% - 50px);
    }

}

/* Main nav */
nav {
    font-size: .9rem;
    color: #a3a3a3;
    min-height: 60px;     
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}


nav .nav-menu li {
    display: inline-block;
    margin: .4rem .8rem;
}

nav .nav-menu li span {
    border-bottom: 2px solid greenyellow;
}

/* Main container */
.main-container {
    padding: 0 20px;
}

.main-container span {
    display: inline-block;
    margin: .8rem 0 2rem 0;
    font-size: .9rem;
    color: #a3a3a3;
}

/* Recently, for john, popular */
/* .popular .spotify-cards,
.for-john .spotify-cards,
.recently .spotify-cards {
    width: 185px;
    margin-right: 18px;
}

.spotify-cards .img-box {
    height: 185px;
    width: 185px;    
} */

.popular .spotify-cards,
.for-john .spotify-cards,
.recently .spotify-cards {
    width: calc(100%/6 - 18px);
    margin-right: 18px;
    float: left;
}

.spotify-cards .img-box {
    height: 13vw;
    width: 100%;    
    background-repeat: no-repeat;
}

.spotify-cards .text-card {
    text-align: center;
}

.spotify-cards .text-card h4 {
    margin: .8rem 0 .4rem 0;
}

.spotify-cards .text-card span {
    font-size: .8rem;
    color: #a3a3a3;
}

.popular .spotify-cards .img-box {
    border-radius: 50%;
}

@media screen and (max-width: 1100px) {
    
    .popular .spotify-cards,
    .for-john .spotify-cards,
    .recently .spotify-cards {
        float: left;
        width: calc(100%/4 - 10px);
        margin-right: 10px;
    }

    .spotify-cards .img-box {
        height: 10vw;
        width: 100%;    
        background-repeat: no-repeat;
    }

}

/* IMG CARD */
#img-card1 {
    background-image: url(../img/metal_lifting.jpg);
    background-size: contain;
}

#img-card2 {
    background-image: url(../img/stranger.jpeg);
    background-size: contain;
}

#img-card3 {
    background-image: url(../img/aquietplace.jpeg);
    background-size: contain;
}

#img-card4 {
    background-image: url(../img/split.jpeg);
    background-size: contain;
}

#img-card5 {
    background-image: url(../img/cure.jpeg);
    background-size: contain;
}

#img-card6 {
    background-image: url(../img/sinister.jpeg);
    background-size: contain;
}

#img-card7 {
    background-image: url(../img/radar.jpeg);
    background-size: contain;
}

#img-card8 {
    background-image: url(../img/mixdaily.jpeg);
    background-size: contain;
}

#img-card9 {
    background-image: url(../img/youg.jpeg);
    background-size: contain;
}

#img-card10 {
    background-image: url(../img/einaudi.jpeg);
    background-size: contain;
}

/* FOOTER */
footer {
    background-color: #282828;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

/* foooter menu left */
footer .footer-menu-left {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer-menu-left .banner-song-left {
    display: flex;
    align-items: center;

}

footer .footer-menu-left .banner-song-left img{
    width: 25%;
    margin: 0 4%;
}

footer .footer-menu-left .banner-song-right {
    display: flex;
}

footer .footer-menu-left .banner-song-right a{
    margin-right: 15%;
    color: #a3a3a3;
}

footer .banner-song-left a:hover{
    text-decoration: underline;
}


/* footer menu center  */
footer .footer-menu-center {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 250px;
}

.music-time{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.music-time .time {
    font-size: .7rem;
}

.music-time .time span {
    display: inline-block;
}

.scroll-time .short {
    display: inline-block;
    width: 20%;
    height: 4px;
    background-color: lightgrey;
    position: absolute;
}

.scroll-time .pallino {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    left: 29%;
    bottom: 9px;
    background-color: white;

}

.footer-menu-center .music-time .scroll-time {
    width: 80%;
    height: 4px;
    background-color: #a3a3a3;
}

.footer-menu-center .player {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-bottom: .3rem;
}

.footer-menu-center .player i {
    margin: 0 .7rem;
}

.footer-menu-center .play {
    display: inline-block;
    width: 50px;
    text-align: center;
    font-size: 1.6rem;
}

.footer-menu-center .play :hover {
    font-size: 1.9rem;
}


.music-time {
    position: flex;
    align-items: center;
}

.music-time .time {
    margin: .5rem;
}

/* footer menu right */
footer .footer-menu-right {
    width: 200px;

    /* test */
    height: 100%;
    background-color: yellow;
}

/* HOVER */

/* Font white */


.side-menu-list :hover img {
    opacity: 1;
}

/* Transition */
.header-main .upgrade:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition: .5s;
    margin-right: 4rem;
}
